@use './partials/mixins' as *;
@use './partials/variables' as *;

* {
    @include reset;
    // background-color: $theme-color;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $theme-color;
}

// HEADER
header {
    background-color: $theme-color;
}

// MOVIE-SEARCH
#movie-search {
    background-color: $theme-color;
}

// MAIN
main {
    padding-top: 1.5rem;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $theme-color;

    #media-card {
        max-width: 19rem;
        color: rgb(210, 210, 210);
        list-style-type: none;
        margin: 1rem;
        padding-bottom: .5rem;
        min-height: 36rem;
        width: 100%;
        border-radius: 20px;
        border-color: white;
        background-color: rgb(40 44 48);
        text-align: center;
    }
}

// FOOTER